.question1, .question2, .question3, .question4, .question5, .question6, .answer1, .answer2, .answer3{
  display: none
}
img{
  display: flex;
  align-items: center;
  max-width:100%;
  height:100%;
  border-radius: 5px
}
.card-body{
  text-align: center;
}
p{
  font-family: 'Franklin Gothic Medium';
  font-size: 40px;
  padding: 100px;
}
.card-text{
   color: whitesmoke;
}